name: autoupdate
on:
  # pull_request:
  #   types:
  #     - labeled
  #     - unlabeled
  #     - synchronize
  #     - opened
  #     - edited
  #     - ready_for_review
  #     - unlocked
  #     - reopened
  push:
    branches:
      - 'unstable'
      - 'unstable-dest'
      - 'master'
#    tags: {}
jobs:
  autoupdate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: autoupdate
        uses: ./
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          DRY_RUN: "true"
          PR_FILTER: "labelled"
          PR_LABELS: "autoupdate,dummy label,anotherLabel"
